{% extends "mybase.html" %}
{% block head_css %}
{{ super() }}

    <link href="{{url_for('static',filename='css/default.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div style="width: 100%; min-height: 2160px">
                    <iframe
                        id="app_iframe"
                        noresize='noresize'
                        src={{ dash_url }}
                        frameborder="0"
                        >
                    </iframe>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
